#ifndef WORKSHOP_INVOKED
  #define INCL_WINSTDSPIN
  #define INCL_NLS
  #define INCL_WIN
  #include <os2.h>                       /* System Include File      */
#endif
#include "kommgen.h"                  /* Application Include File */

ICON ID_DLGMAIN "KOMMGEN.ICO"
ICON ID_DLGTEMP "KOMMTEMP.ICO"

MENU ID_DLGMAIN PRELOAD MOVEABLE DISCARDABLE
BEGIN
   SUBMENU "~Datei", CM_FILE, MIS_SUBMENU | MIS_TEXT, 0
   BEGIN
      MENUITEM "~Neu", CM_FILENEW, MIS_TEXT, 0
      MENUITEM "~ôffnen", CM_FILEOPEN, MIS_TEXT, 0
      MENUITEM SEPARATOR
      MENUITEM "~Speichern", CM_FILESAVE, MIS_TEXT, 0
      MENUITEM "Speichern ~unter ...", CM_FILESAVEAS, MIS_TEXT, 0
      MENUITEM SEPARATOR
      MENUITEM "~Beenden", CM_EXIT, MIS_TEXT, 0
   END

   SUBMENU "~Bearbeiten", CM_EDIT, MIS_SUBMENU | MIS_TEXT, 0
   BEGIN
      MENUITEM "~Vorlage ...", CM_TEMPLATE, MIS_TEXT, 0
      MENUITEM "~Kommentar ...", CM_COMMENT, MIS_TEXT, 0
   END

   SUBMENU "~Hilfe", CM_HELP, MIS_SUBMENU | MIS_TEXT, 0
   BEGIN
      MENUITEM "~Produktinformation", CM_HELPABOUT, MIS_TEXT, 0
   END

END

MENU ID_DLGTEMP PRELOAD MOVEABLE DISCARDABLE
BEGIN
   SUBMENU "~Bearbeiten", CM_CM_EDIT, MIS_SUBMENU | MIS_TEXT, 0
   BEGIN
      MENUITEM "~RÅckgÑngig\tAlt+BkSp", CM_CM_UNDO, MIS_TEXT, 0
      MENUITEM SEPARATOR
      MENUITEM "~Ausschneiden\tShift+Entf", CM_CM_CUT, MIS_TEXT, 0
      MENUITEM "~Kopieren\tCtrl+Einfg", CM_CM_COPY, MIS_TEXT, 0
      MENUITEM "~EinfÅgen\tShift+Einfg", CM_CM_PASTE, MIS_TEXT, 0
      MENUITEM "~Lîschen\tEntf", CM_CM_DELETE, MIS_TEXT, 0
   END

   SUBMENU "~Felder", CM_CM_INSERT, MIS_SUBMENU | MIS_TEXT, 0
   BEGIN
      MENUITEM "~Name", CM_CMIN_NAME, MIS_TEXT, 0
      MENUITEM "~Typ", CM_CMIN_TYP, MIS_TEXT, 0
      MENUITEM "~Funktion", CM_CMIN_FUNC, MIS_TEXT, 0
      MENUITEM "~Parameter", CM_CMIN_PARAMS, MIS_TEXT, 0
      MENUITEM "~Variablen", CM_CMIN_VARS, MIS_TEXT, 0
      MENUITEM "~Ergebnis", CM_CMIN_RESULT, MIS_TEXT, 0
      MENUITEM "~Bemerkung", CM_CMIN_REMARK, MIS_TEXT, 0
      MENUITEM "~Autor", CM_CMIN_AUTHOR, MIS_TEXT, 0
      MENUITEM "~Datum", CM_CMIN_DATE, MIS_TEXT, 0
   END

END

rcinclude kommgen.dlg

DLGTEMPLATE ID_DLGABOUT
BEGIN
   DIALOG "\232ber Kommentargenerator/2", 100, 13, 17, 191, 108, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU
   BEGIN
      CONTROL "Kommentargenerator/2", -1, 3, 89, 165, 16, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      PRESPARAMS PP_FONTNAMESIZE "18.Helv"
      CONTROL "(c) 93-95", -1, 3, 78, 47, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      CONTROL "Patrick Haller Systemtechnik", -1, 57, 78, 122, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      CONTROL "Baumgartener-Str. 14", -1, 57, 65, 122, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      PRESPARAMS PP_FONTNAMESIZE "8.Helv"
      CONTROL "Postfach 49", -1, 57, 58, 122, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      PRESPARAMS PP_FONTNAMESIZE "8.Helv"
      CONTROL "88095 Eriskirch am Bodensee", -1, 57, 51, 122, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      PRESPARAMS PP_FONTNAMESIZE "8.Helv"
      CONTROL "Fax: +49 7541 82491", -1, 57, 44, 122, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      PRESPARAMS PP_FONTNAMESIZE "8.Helv"
      CONTROL "2:246/2320.18@Fido", -1, 57, 29, 122, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      PRESPARAMS PP_FONTNAMESIZE "8.Helv"
      CONTROL "Haller@ti-nov1.fbe.fh-weingarten.de", -1, 57, 22, 122, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      PRESPARAMS PP_FONTNAMESIZE "8.Helv"
      CONTROL "EMail:", -1, 3, 29, 34, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      PRESPARAMS PP_FONTNAMESIZE "8.Helv"
      CONTROL "~OK", DID_OK, 13, 4, 165, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
      CONTROL 1, 101, 3, 52, 30, 20, WC_STATIC, SS_ICON | WS_VISIBLE | WS_GROUP
   END

END

